Babel==1.3
Beaker==1.6.3
BeautifulSoup==3.2.1
Flask==0.10.1
Flask-Babel==0.9
Flask-Login==0.2.11
Flask-Moment==0.4.0
Flask-PageDown==0.1.5
Flask-SQLAlchemy==2.0
Flask-WTF==0.11
Flask-WhooshAlchemy==0.56
FormEncode==1.2.4
Genshi==0.7
Jinja2==2.7
Mako==0.7.3
Markdown==2.6.1
MarkupSafe==0.15
Neptuno2==1.2.2
PAM==0.4.2
Pillow==2.0.0
Pygments==1.6rc1
Pylons==1.0.1
Routes==1.13
SQLAlchemy==0.7.9
Tempita==0.5.1
TurboGears2==2.2.2
Twisted-Core==12.3.0
Twisted-Names==12.3.0
Twisted-Web==12.3.0
WTForms==2.0.2
WebError==0.10.3
WebFlash==0.1a9
WebHelpers==1.3
WebOb==1.1.1
WebTest==1.4.3
Werkzeug==0.10.1
Whoosh==2.6.0
apt-xapian-index==0.45
aptoncd==0.1.98-bzr117-1.2
apturl==0.4.1ubuntu4
argparse==1.2.1
bleach==1.4.1
blinker==1.3
chardet==2.0.1
configglue==1.0
configobj==4.7.2
crank==0.6.4
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==4.2.0
distribute==0.7.3
duplicity==0.6.21
edda==0.7.0
feedparser==5.1.2
google-api-python-client==1.2
gunicorn==17.5
html5lib==1.0b3
httplib2==0.9
itsdangerous==0.24
lxml==3.1.0
nose==1.1.2
oauthlib==0.3.7
oneconf==0.3.3
paramiko==1.7.7.1
pexpect==2.4
piston-mini-client==0.7.5
ply==3.4
protobuf==2.4.1
psycopg2==2.5.1
pyOpenSSL==0.13
pyPdf==1.13
pyScss==1.1.5
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pyinotify==0.9.3
pylibmc==1.2.3
pymongo==2.5.2
pyserial==2.6
pysmbc==1.0.13
python-apt==0.8.8ubuntu6
python-debian==0.1.21-nmu2ubuntu1
pytz==2014.10
pyxdg==0.25
reportlab==2.6
repoze.lru==0.5
repoze.tm2==2.0
repoze.who==2.2
repoze.who-friendlyform==1.0.8
repoze.who.plugins.sa==1.0.1
-e git+ssh://administrador@poke.ender.es/var/repositorios/Sapns/atenea@de0d37ac7d8ae14a1dc134bd9393e0768b3def58#egg=sapns-dev
sessioninstaller==0.0.0
simplejson==3.3.0
six==1.2.0
slimit==0.8.1
speaklater==1.3
sqlalchemy-migrate==0.7.2
system-service==0.1.6
tg.devtools==2.2.2
tgext.admin==0.5.4
tgext.crud==0.6.3
transaction==1.4.1
tw2.core==2.1.6
tw2.forms==2.1.4.2
tweepy==2.3.0
uTidylib==0.2
virtualenv==1.10
wsgiref==0.1.2
xlrd==0.9.2
xlwt==0.7.5
zope.interface==4.0.5
zope.sqlalchemy==0.7.2
