	<footer class="col-md-offset-2 col-md-8 site-footer">
  		<div class="footer-navigation">
            <a class="navigation-element hvr-overline-from-center" href="{{url_for("about")}}">About</a>
            <a class="navigation-element hvr-overline-from-center" href="{{url_for("archive")}}">Archive</a>
<!--             <a class="navigation-element" href="#">Projects</a> -->
            <a class="navigation-element hvr-overline-from-center" href="https://twitter.com/richas" target="_blank">Twitter</a>
<!--             <a class="navigation-element" href="#">Contact</a> -->
		</div>
	</footer>